<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>AWS Storage</title>
</head>
<body>
   <h1>Charger vos données sur RDS</h1>
    <br>
   {% block content %}
   <form method="post" action="/" enctype="multipart/form-data" name="RDS">

       <label for="classes">Nom du cours :</label>
       <input type="text" id="classes" name="classes" value="{{ request.form['classes'] }}">
       <br>
       <label for="teacherName">Nom du professeur :</label>
       <input type="text" id="teacherName" name="teacherName" value="{{ request.form['teacherName'] }}">
       <br>
       <label for="hoursNumber">Nombres d'heures :</label>
       <input type="text" id="hoursNumber" name="hoursNumber" value="{{ request.form['hoursNumber'] }}">
       <br>
       <label for="description">Descriptions :</label>
       <input type="text" id="description" name="description" value="{{ request.form['description'] }}">

       <p>
           <br>
           <input type="submit" value="Submit">
       </p>

   </form>
   {% endblock %}

   <br>
   <br>
   <br>

   <h1>Charger vos données sur S3</h1>
    <br>
   {% block content %}
   <form method="post" action="/" enctype="multipart/form-data" name="S3">
       <br>
       <label for="document">Documents :</label>
       <input type="file" id="document" name="{{ request.form['document'] }}">
       <p>
           <br>
           <input type="submit" value="Submit">
       </p>

   </form>
   {% endblock %}

</body>
</html>
